@import "./variable.scss";
@import "./media.scss";


#about {
  position: relative;
  z-index: 1;

  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 90px 20px;

    @include md {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      .heading {
        img {
          width: 100%;
        }
      }

      .para {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 40px;
        padding-left: 30px;

        p {
          text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
          color: white;
          font-size: 30px;
          letter-spacing: 4.2px;
          font-weight: 700;
          font-family: "font-3";


        }
      }

    }

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 500px;
      @include sm{
      height: auto;
      
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(http://localhost:3000/static/media/about-bc.73a57d3e711f2f9597a1.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        background-position: center;
      }

      @include md {
        order: 2;
      }

      img {
        max-width: 500px;
        object-fit: cover;
        padding: 40px;

@include sm{
  width: 100%;

}
      }
    }
  }
}