@import "./variable.scss";
@import "./media.scss";

#footer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assests/footer-bac.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 160px 20px;
    padding-bottom: 0;

    .top {
      display: flex;
      align-items: center;
      border-bottom: 1px solid;
      justify-content: space-between;
      padding: 10px 0px;

      @include sm {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }

      .logo {
        justify-self: start;
        display: flex;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }


      }

      p {
        text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
        text-decoration: underline !important;
        font-size: 27px;
        color: #000000;
        font-weight: 400;
       font-family:'font-3';
       font-style: italic;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      padding: 20px 0px;
      justify-content: space-between;

      @include sm {
        flex-direction: column;
        justify-content: center;
        gap: 20px;

      }

      span {
        text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;

        font-size: 15px;
        color: #000000;
        font-weight: 400;
        font-family: cursive;
      }

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
          padding: 12px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: #e3e372;
            font-size: 30px;
          }
        }
      }
    }
  }
}