@import "./media.scss";

#tokenomics {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 90px 20px;

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0px;

            img {
                width: 100%;
                max-width: 700px;
            }
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            @include md {
                flex-direction: column;
                row-gap: 60px;
            }

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 248px;

                .title {
                    font-size: 51px;
                    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px,
                        rgba(0, 0, 0, 0.6) -1px -1px 1px;
                    color: white;
                    width: 100%;
                    text-align: center;
                }

                ul {
                    position: relative;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            position: absolute;
                            bottom: 70px;
                        }
                    }

                    div {
                        padding: 10px 50px;
                        background-color: rgb(255, 219, 191);
                        border-radius: 50px;
                        display: flex;
                        height: 80px;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        width: 325px !important;

                        @include md {
                            height: auto;
                            width:100% !important;
                            max-width:225 !important;
                        }


                        li {
                            color: #242323;
                            font-family: caveat, cursive;
                            font-size: 20px;
                            list-style: disc !important;
                            margin: 0 !important;
                            font-family: 'font-3';


                            &::marker {
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}